<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.testebd"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.com.teste.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>          
        </activity>
        
        <activity android:name= "br.com.teste.activity.DashboardActivity"  />
        
        <activity 
      		android:name= "br.com.teste.activity.NovoCadastroActivity"
            android:label="@string/novo">
        </activity>
        
        <activity 
      		android:name= "br.com.teste.activity.InfoSociodemActivity"
            android:label="@string/inf_sociodem">
        </activity>
        
        <activity 
      		android:name= "br.com.teste.activity.CondicoesActivity"
            android:label="@string/condicoes">
        </activity>
        
        <activity
            android:name= "br.com.teste.activity.ListCadastroActivity" 
        	android:label="@string/title_activity_list_users">
        </activity>
    </application>

</manifest>
